{% extends "base.html" %} {% block title %}Page Not Found{% endblock %} {% block content %}
<div class="container-xxl container-p-y">
  <div class="misc-wrapper">
    <h2 class="mb-2 mx-2">Page Not Available!</h2>
    <p class="mb-4 mx-2">Sorry, the page you are looking for is currently under construction.</p>
    <div class="mt-3">
      <img src="../assets/img/illustrations/page-misc-under-maintenance.png" alt="page-misc-under-maintenance" width="500" class="img-fluid" />
    </div>
    <a href="javascript:history.back()" class="btn btn-primary mt-4">Go Back</a>
    <p class="mt-4">
      <span class="fw-semibold">Or</span>
      <a href="{% url 'dashboard' %}" class="text-body fw-semibold">Return to Dashboard</a>
    </p>
    <p class="mt-4">
      <a href="LINK BERLANGGANAN" class="btn btn-secondary">Subscribe to our Newsletter</a>
    </p>
  </div>
</div>
{% endblock %}
